<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_ADD}index/index.css">
    <link rel="stylesheet" href="{CSS_ADD}index/about.css">

    <script src="{JS_ADD}index/about.js"></script>
    <script src="{JS_ADD}index/jquery3.5.1.js"></script>
    <script src="{JS_ADD}index/aniMath.js"></script>
</head>
<body>
{include file=$header}
<!--内容开始-->
<div class="service-img-box">
    <img src="{IMAGE_ADD}imgs/service/service-0.jpg" alt="" class="service-img">
</div>
<div class="service-content-box" style="height: 2105px;">
    <div class="service-content-left">
        <ul class="service-left-box">
            <li class="service-left-item iconfont">
                &#xe65d;关于论坛
            </li>
        </ul>
    </div>
    <div class="service-content-right" style="height: 2105px;">
        <div style="position: relative;"><span style="color:#666666;"></span>
            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8;"><span
                    style="word-spacing: normal;"></span></p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8;"><span
                    style="background-color: rgb(52, 112, 76); color: rgb(255, 255, 255); font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; word-spacing: normal;">论坛简介</span>
            </p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="display:inline-block;line-height:1.2;"><span style="color:#000000;"><span
                    style="font-size:14px;"><span style="margin-bottom: 12px;"><span
                    style="font-size:15px;">罗梭江科学教育论坛（英文名称为Luosuo River Forum of <span
                    style="background-color: rgb(255, 255, 255);">Science
                                            Education</span>，缩写LRFSE）是一个以科学教育、环境教育为主题、每年在罗梭江畔定期组织召开的学术性交流平台。</span></span></span></span></span>
            </p>
            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="display:inline-block;line-height:1.2;"><span style="color:#000000;"><span
                    style="font-size:14px;"><span style="margin-bottom: 12px;"><span
                    style="font-size:15px;"><span
                    style="display:inline-block;line-height:1.2;"><span
                    style="color:#000000;"><span style="font-size:14px;"><span
                    style="margin-bottom: 12px;"><span style="font-size:15px;"><span
                    style="display:inline-block;line-height:1.2;"><span
                    style="word-spacing: normal; color: rgb(0, 0, 0); font-size: 15px;">第一届罗梭江科学教育论坛于2016年8月在中国科学院西双版纳热带植物园举办，迄今已经连续举办四届，为加强社会各界在科学教育、环境教育研究及实践领域的交流与合作，促进中国科学教育事业的发展发挥了积极作用。</span></span></span></span></span></span></span></span></span></span></span></span>
            </p>
            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="display:inline-block;line-height:1.2;"><span style="color:#000000;"><span
                    style="font-size:14px;"><span style="margin-bottom: 12px;"><span
                    style="font-size:15px;"><span
                    style="display:inline-block;line-height:1.2;"><span
                    style="color:#000000;"><span style="font-size:14px;"><span
                    style="margin-bottom: 12px;"><span style="font-size:15px;"><span
                    style="display:inline-block;line-height:1.2;"><span
                    style="word-spacing: normal; color: rgb(0, 0, 0); font-size: 15px;">目前该论坛已逐渐成长为中国科学教育领域多学科交流的高质量平台，每年共吸引100余名众多国内外科学教育从业者和相关专家学者相聚罗梭江畔，这些参会人员范围包括中科院所属机构、植物园、出版社、高校、中小学校、民间自然教育机构等不同组织。论坛现拥有官方网站、微信小程序和电子版文集等平台和产品，已形成“一站一微一文集”的平台和产品链条，为论坛品牌传播奠定基础。</span></span></span></span></span></span></span></span></span></span></span></span> <br />

            </p>
            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8;"><span
                    style="font-size:15px;"></span></p>
            <div style="margin-left: 40px;">

                <br /></div>
            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 20px;"><span
                    style="color: rgb(255, 255, 255); font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; background-color: rgb(52, 112, 76);">论坛主题</span>
            </p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><strong><span
                    style="color:#000000;"><span style="font-size:15px;">第一届罗梭江科学教育论坛</span></span></strong></p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="font-size:15px;">时间：2016年8月11-12日，地点：中国科学院西双版纳热带植物园</span></p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="color:#000000;"><span
                    style="font-size:15px;">论坛主题：<strong>创新与合作——探索科学教育新途径</strong><br />
                            主要议题：<br />
                            （1）国家科学教育政策新趋势<br />
                            （2）公众科学和生物多样性保护<br />
                            （3）科学教育和探究式学习<br />
                            （4）新媒体在科学传播中的作用<br />
                            （5）应对自然缺失症：自然教育和自然体验</span></span></p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"> </span></span></p>

            <p
                    style="margin-bottom: 10px; margin-left: 60px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); list-style: none; line-height: 1.8;">
                    <span style="font-weight: 700;"><span style="color: rgb(0, 0, 0);"><span
                            style="font-size: 15px;">第二届罗梭江科学教育论坛</span></span></span></p>

            <p
                    style="margin-bottom: 10px; margin-left: 60px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); list-style: none; line-height: 1.8;">
                <span style="font-size: 15px;">时间：2017年7月13-14日， 地点：中国科学院西双版纳热带植物园</span></p>

            <p
                    style="margin-bottom: 10px; margin-left: 60px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); list-style: none; line-height: 1.8;">
                <span style="color: rgb(0, 0, 0);"><span style="font-size: 15px;"></span></span></p>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;"><span
                    style="font-weight: 700; word-spacing: normal;">论坛主题：共创共享、跨界创新下的科学教育 </span></span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;">主要议题： </span></span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span
                    style="font-size: 15px;">1. 正规教育和非正规教育的融合发展 </span></span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;">2. 保护教育与公民科学 </span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;">3. 艺术和环境教育  </span></span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;">4. 新媒体潮流下的科学传播 </span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;">5. 其他契合当前科学教育、环境教育的话题</span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;">
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;">
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;"> </span></span><span
                    style="font-size: 15px; color: rgb(0, 0, 0); font-weight: 700; word-spacing: normal;">第三届罗梭江科学教育论坛</span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-size: 15px; color: rgb(0, 0, 0); font-weight: 700; word-spacing: normal;"> </span><span
                    style="font-size: 15px; word-spacing: normal;">时间：2018年7月10-11日， 地点：中国科学院西双版纳热带植物园</span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-size: 15px; word-spacing: normal;"> </span><span
                    style="font-weight: 700; word-spacing: normal; font-size: 15px; color: rgb(0, 0, 0);">论坛主题：研学旅行背景下的科学教育 </span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-weight: 700; word-spacing: normal; font-size: 15px; color: rgb(0, 0, 0);"> </span><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);">主要内容：</span></span></span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> 高端科学资源科普化、移动科技在研学旅行中的应用、</span></span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> 研学旅行的哲学思考、公共参与研究、</span></span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> 自然影像促进科学传播，</span></span></span><span
                    style="background-color: rgba(255, 255, 255, 0.44); font-size: 15px; color: rgb(0, 0, 0); word-spacing: normal;">以及大量的研学旅行案例等。</span>
            </div>
            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44); font-size: 15px; color: rgb(0, 0, 0); word-spacing: normal;"><br /></span>
            </div>
            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size: 15px;"> </span></span><span
                    style="font-size: 15px; color: rgb(0, 0, 0); font-weight: 700; word-spacing: normal;">第四届罗梭江科学教育论坛</span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-size: 15px; color: rgb(0, 0, 0); font-weight: 700; word-spacing: normal;"> </span><span
                    style="font-size: 15px; word-spacing: normal;">时间：2019年7月23-24日， 地点：中国科学院西双版纳热带植物园</span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-size: 15px; word-spacing: normal;"> </span><span
                    style="font-weight: 700; word-spacing: normal; font-size: 15px; color: rgb(0, 0, 0);">论坛主题：生物多样性保护教育 </span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-weight: 700; word-spacing: normal; font-size: 15px; color: rgb(0, 0, 0);"> </span><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);">主要内容：</span></span></span></div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> 公众科学与生物多样性保护 </span></span></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> 研学旅行与保护教育</span></span></span>
            </div>
            <div style="margin-left: 60px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> </span><a data-original-image=""
                                                                                    data-original-imageheight="" data-original-imagewidth="" data-original-title=""
                                                                                    data-tooltip="off" data-url-flag="0" data-url-flagtarget="" href="undefined"
                                                                                    style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 15px; word-spacing: normal;"
                                                                                    target="_blank" url-flagtarget="">新形势下植物园的社会功能</a></div>
            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44);"> 新媒体视野下的保护教育</span></span></span>
            </div>
            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="background-color: rgba(255, 255, 255, 0.44); font-size: 15px; color: rgb(0, 0, 0); word-spacing: normal;"><br /></span>
            </div>

            <div style="color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); margin-left: 60px;"><span
                    style="font-size: 15px; color: rgb(0, 0, 0); word-spacing: normal;"></span></div>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 60px;"><span
                    style="color:#000000;"><span style="font-size:15px;"></span></span></p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 20px;"> </p>

            <p style="margin-bottom: 10px; list-style: none; line-height: 1.8; margin-left: 20px;"><span
                    style="color: rgb(255, 255, 255); font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; background-color: rgb(52, 112, 76);">组织机构</span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span style="font-weight: 700;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">主办单位：</span></span>  </span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">中国科学院科学传播局</span> </span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                <span style="font-size:15px;">科技部引进国外智力管理司</span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span
                            style="font-weight: 700; color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 14px; white-space: pre-wrap; background-color: rgb(255, 255, 255);">中国科学技术协会科普部</span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span
                            style="font-weight: 700; color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 14px; white-space: pre-wrap; background-color: rgb(255, 255, 255);">中国青年报社</span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span
                            style="color: rgb(0, 0, 0); font-family:  Times New Roman ; font-size: 15px; background-color: rgb(255, 255, 255);">中国植物园联盟</span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                <span style="font-size:15px;"> </span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span style="font-weight: 700;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">承办单位：</span></span>  </span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">中国科学院西双版纳热带植物园</span></span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:14px;"><span
                            style="color:#696969;">（注：2018年，第三届论坛在前两届主办单位的基础上，新增了 </span><span
                            style="font-family: 微软雅黑; color: rgb(102, 102, 102); white-space: pre-wrap; word-spacing: normal;"><strong>中国科学技术协会科普部、中国青年报社</strong>2家主办单位。）</span></span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 20px;">
                    <span style="margin-bottom: 12px; line-height: 1.8; font-size: 10.5pt;"><span
                            style="color: rgb(255, 255, 255); font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; background-color: rgb(52, 112, 76);">组织委员会</span></span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span style="word-spacing: normal; font-weight: 700;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">主席：</span></span><span
                            style="word-spacing: normal;"> </span><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;">陈进<span
                            style="margin-bottom: 12px; line-height: 1.8;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">  </span></span>中国科学院西双版纳热带植物园主任</span><span
                            style="word-spacing: normal;"> </span></span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="font-weight: 700; word-spacing: normal;">委员：</span></span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;">邱成利<span
                            style="margin-bottom: 12px; line-height: 1.8;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">  </span></span>科技部引进国外智力管理司</span></span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;">胡华斌<span
                            style="margin-bottom: 12px; line-height: 1.8;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">  </span></span>中国科学院西双版纳热带植物园</span><span
                            style="word-spacing: normal;"> </span></span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;">徐雁龙
                            中国科学院科学传播局</span></span></p>
            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;"><span
                            style="color: rgb(0, 0, 0);">包   晗  中国科协科普部联络处</span></span></span></p>
            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;"><span
                            style="color: rgb(0, 0, 0);">堵   力  中国青年报社</span> </span></span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 20px;">
                <span style="font-size:15px;"> </span></p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span style="word-spacing: normal; font-weight: 700;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">秘书长：</span></span><span
                            style="word-spacing: normal;"> </span><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;"><span
                            style="margin-bottom: 12px; color: rgb(0, 0, 0); font-family:  Times New Roman ; font-size: 10.5pt; line-height: 1.8;"><span
                            style="color: rgb(0, 0, 0); font-family:  Times New Roman ; font-size: 15px; background-color: rgb(255, 255, 255);">贺赫</span><span
                            style="margin-bottom: 12px; color: rgb(0, 0, 0); font-family:  Times New Roman ; font-size: 15px; background-color: rgb(255, 255, 255); line-height: 1.8;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">  </span></span><span
                            style="color: rgb(0, 0, 0); font-family:  Times New Roman ; font-size: 15px; background-color: rgb(255, 255, 255);">中国科学院西双版纳热带植物园</span></span><span
                            style="color: rgb(0, 0, 0); font-family:  Times New Roman  ; font-size: 14px; background-color: rgb(255, 255, 255);"> </span></span></span>
            </p>

            <p
                    style="margin-bottom: 10px; list-style: none; line-height: 1.8; font-family:  Times New Roman ; font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin-left: 60px;">
                    <span style="font-size:15px;"><span style="word-spacing: normal; font-weight: 700;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">副秘书长：</span></span><span
                            style="word-spacing: normal;"> </span><span
                            style="word-spacing: normal; margin-bottom: 12px; line-height: 1.8;">马强<span
                            style="margin-bottom: 12px; line-height: 1.8;"><span
                            style="margin-bottom: 12px; line-height: 1.8;">   </span></span>中国科学院科学传播局</span></span>
            </p>

        </div>
    </div>
</div>


{include file=$footer}
</body>
</html>