<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>罗梭江科学教育论坛</title>
    <link rel="stylesheet" href="{CSS_ADD}index/index.css">
    <link rel="stylesheet" href="{CSS_ADD}index/date.css">

    <script src="{JS_ADD}index/date.js"></script>
    <script src="{JS_ADD}index/jquery3.5.1.js"></script>
    <script src="{JS_ADD}index/aniMath.js"></script>
</head>

<body>
{include file=$header}


<!-- 标题开始 -->
<div class="date-title-box">
    <div class="date-title-top">第四届罗梭江科学教育论坛日程安排</div>
    <div class="date-title-bottom">(2019年)</div>
</div>
<table class="date-table">
    <tbody>
    <tr>
        <td
                style="width: 20%; border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255); background-color: rgb(217, 217, 217); padding: 5px 10px 5px 0px; text-align: center;">
            <span style="font-size:15px;"><strong>日期</strong></span></td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px; text-align: center;">
            <span style="font-size:15px;"><strong>时间</strong></span></td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px; text-align: center;">
            <span style="font-size:15px;"><strong>活动事项</strong></span></td>
    </tr>
    <tr>
        <td
                style="width: 5%; border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255); background-color: rgb(217, 217, 217); padding: 5px 10px 5px 0px; text-align: center;">
            <div><span style="font-size:15px;">星期一</span></div>

            <div><span style="font-size:15px;">7月22日</span></div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <span style="font-size: 15px;">10:00-22:00</span>
            <span style="font-size:15px;"></span></td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
                    <span style="font-size: 15px;">会议注册报到 &nbsp;<a data-original-image="" data-original-imageheight=""
                                                                   data-original-imagewidth="" data-original-title="" data-tooltip="off" data-url-flag="0"
                                                                   data-url-flagtarget="" target="_blank" url-flagtarget=""></a>王莲酒店大厅<a data-original-image=""
                                                                                                                                         data-original-imageheight="" data-original-imagewidth="" data-original-title=""
                                                                                                                                         data-tooltip="off" data-url-flag="0" data-url-flagtarget="" target="_blank"
                                                                                                                                         url-flagtarget="">&nbsp;&nbsp;</a><br /><a data-original-image=""
                                                                                                                                                                                    data-original-imageheight="" data-original-imagewidth="" data-original-title=""
                                                                                                                                                                                    data-tooltip="off" data-url-flag="0" data-url-flagtarget="" target="_blank"
                                                                                                                                                                                    url-flagtarget="">∗</a></span><span style="font-family: 楷体;"><span
                style="font-size: 15px;">20:00-21:30 夜游植物园研学线路考察（视天气情况定）
                        </span></span><br /></td>
    </tr>
    <tr>
        <td colspan="1" rowspan="10"
            style="border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255); background-color: rgb(217, 217, 217); padding: 5px 10px 5px 0px; text-align: center; width: 19.9177%;">
            <div><span style="font-size:15px;">星期二</span></div>

            <div><span style="font-size:15px;"><span
                    style="color: rgb(51, 51, 51); text-align: center; background-color: rgb(217, 217, 217);">7月23日</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px; width: 20%;">
            <span style="font-size: 15px;">08:30-09:00</span>
            <span style="font-size:15px;"><span style="word-spacing: normal;"></span></span></td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div><span style="font-size:15px;"><strong>开幕式</strong></span></div>
        </td>
    </tr>
    <tr>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <span style="font-size: 15px;">09:00-09:50</span>
            <span style="font-size:15px;"><span style="word-spacing: normal;"></span></span></td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <strong><span style="font-size: 15px; font-family: 楷体;">大会报告I</span></strong>
            <div align="left"><span style="font-size: 15px;">&nbsp; &nbsp;
                            <strong>在自然教育中深入渗透科学教育&nbsp;</strong></span></div><span style="font-size: 15px;">&nbsp;
                        &nbsp; 郭传杰 中科院原党组副书记、中国科大原党委书记</span>

        </td>
    </tr>
    <tr>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
                    <span style="font-size: 15px;">&nbsp;09:50-10:20
                    </span><br /></td>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
                    <span style="font-size: 15px;">合影、茶歇
                    </span><br /></td>
    </tr>
    <tr>
        <td style="background-color: rgb(242, 242, 242); border-color: rgb(255, 255, 255); border-width: 4px;">
            &nbsp;10:20-11:10
            <br /></td>
        <td style="background-color: rgb(242, 242, 242); border-color: rgb(255, 255, 255); border-width: 4px;">
            <strong><span style="font-size: 15px; font-family: 楷体;">大会报告II</span></strong><span
                style="font-size: 15px;"><strong><span style="font-family: 楷体;">&nbsp;
                            </span>&nbsp;&nbsp;</strong><br /><strong>&nbsp; &nbsp;
                            生物多样性科普研学：能够促进一种新生命观养成吗？</strong>&nbsp; &nbsp;&nbsp;</span><br /><span
                style="font-size: 15px;">&nbsp; &nbsp; 汤书昆 &nbsp;中国科学技术大学
                    </span><br /></td>
    </tr>
    <tr>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
                    <span style="font-size: 15px;">&nbsp;11:10-12:00
                    </span><br /></td>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
            <strong><span style="font-size: 15px; font-family: 楷体;">大会报告Ⅲ</span></strong><span
                style="font-size: 15px;"><strong><span style="font-family: 楷体;">&nbsp;
                            </span>&nbsp;&nbsp;</strong><br /><strong>&nbsp; &nbsp; 用融媒体传播生态保护观</strong><br />&nbsp;
                        &nbsp; 贾闪闪 &nbsp;央视创造传媒有限公司
                    </span><br /></td>
    </tr>
    <tr>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div><span style="font-size:15px;">13:00-<span style="word-spacing: normal;">14:00</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <span style="font-size:15px;">板报交流、文创展示</span></td>
    </tr>
    <tr>
        <td rowspan="2"
            style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px; width: 19.9177%;">
            <div><span style="font-size:15px;">14:00-<span style="word-spacing: normal;">17:00</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <strong><span style="font-size: 15px; font-family: 微软雅黑;">分会场</span></strong><span
                style="font-family: 微软雅黑;"><span
                style="font-size: 15px;"><strong>专题报告</strong>（30分钟/人，专题讨论1小时）</span></span><span
                style="font-family: 楷体;"><span style="font-size: 15px;"><br /></span></span><strong><span
                style="font-size: 15px; font-family: 楷体;">公众科学与生物多样性保护</span></strong><br /><strong><a
                data-original-image="" data-original-imageheight="" data-original-imagewidth=""
                data-original-title="" data-tooltip="off" data-url-flag="0" data-url-flagtarget=""
                url-flagtarget="" target="_blank"></a></strong><strong><span
                style="font-size: 15px;">①&nbsp;</span></strong><span
                style="font-size: 15px;"><strong>从学习的角度来看公民科学家的学习行为，以参与社群为理论基础</strong>&nbsp; &nbsp;
                        <br />&nbsp; &nbsp; 刘奇璋
                        &nbsp;台湾大学<br /><strong>②&nbsp;</strong><strong>寻找自然：自然观察俱乐部促进青少年生物多样性保护行为
                        </strong><br />&nbsp; &nbsp; &nbsp;张卫哲&nbsp; 深圳市中科院仙湖植物园<br />
                        <div align="left">③ <strong>城市生物多样性保护中的公众参与</strong></div>&nbsp; &nbsp; 谭羚迪
                        &nbsp;山水自然保护中心<br /><a data-original-image="" data-original-imageheight=""
                                               data-original-imagewidth="" data-original-title="" data-tooltip="off" data-url-flag="0"
                                               data-url-flagtarget="" target="_blank"
                                               url-flagtarget=""></a>④<strong>&nbsp;</strong><strong>Biotracks公众科学项目的内涵与外延</strong><br />&nbsp;
                        &nbsp; &nbsp;徐洲锋 &nbsp;昆明植物所标本馆
                    </span>
        </td>
    </tr>
    <tr>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
            <strong><span style="font-size: 15px;">分会场</span></strong><span
                style="font-size: 15px;"><strong>专题报告</strong>（30分钟/人，专题讨论1小时）<br /><strong><span
                style="font-family: 楷体;">研学旅行与保护教育</span></strong><br /><strong><a
                data-original-image="" data-original-imageheight="" data-original-imagewidth=""
                data-original-title="" data-tooltip="off" data-url-flag="0" data-url-flagtarget=""
                url-flagtarget=""
                target="_blank"></a></strong><strong>①&nbsp;</strong><strong>科考研学中的“三位一体”教育模式</strong>&nbsp;
                        &nbsp;&nbsp;<br />&nbsp; &nbsp; 周琳
                        &nbsp;北京青少年俱乐部<br /><strong>②&nbsp;</strong><strong>面向中小学生的植物园研学课程开发与实践</strong><br />&nbsp;
                        &nbsp; 何祖霞 上海辰山植物园<div align="left">③ <strong>科学素养培养视域下的非正式科学教育发展</strong></div>&nbsp; &nbsp;
                        严晓梅 北京师范大学<br /><a data-original-image="" data-original-imageheight=""
                                           data-original-imagewidth="" data-original-title="" data-tooltip="off" data-url-flag="0"
                                           data-url-flagtarget="" url-flagtarget=""
                                           target="_blank"></a>④<strong>&nbsp;</strong><strong>兴趣是最好的老师</strong><br />&nbsp; &nbsp;
                        &nbsp;张正 中国古动物馆
                    </span><br /></td>
    </tr>
    <tr>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div><span style="font-size:15px;">17:00-<span style="word-spacing: normal;">18:30</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            植物园研学线路考察
            <br /></td>
    </tr>
    <tr>
        <td style="background-color: rgb(242, 242, 242); border-color: rgb(255, 255, 255); border-width: 4px;">
                    <span style="font-size: 15px;">&nbsp;20:00-21:30
                    </span><br /></td>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
                    <span style="font-size: 15px;">&nbsp;1. 夜游植物园研学线路考察（视天气情况定）<br />&nbsp;2. 讨论会：罗梭江科学教育论坛SWOT分析
                    </span><br /></td>
    </tr>
    <tr>
        <td colspan="1" rowspan="7"
            style="border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255); background-color: rgb(217, 217, 217); padding: 5px 10px 5px 0px; text-align: center;">
            <div style="color: rgb(51, 51, 51); text-align: center;"><span style="font-size:15px;">星期三</span>
            </div>

            <div style="color: rgb(51, 51, 51); text-align: center;"><span style="font-size:15px;"><span
                    style="background-color: rgb(217, 217, 217);">7月24日</span></span></div>
            <span style="font-size:15px;"></span>
        </td>
        <td rowspan="2"
            style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px; width: 19.9177%;">
            <div><span style="font-size:15px;">09:00-<span style="word-spacing: normal;">12:00</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div align="left"><strong><span style="font-size: 15px;">分会场</span></strong><span
                    style="font-size: 15px;"><strong>专题报告</strong>（30分钟/人，专题讨论1小时）<br /><strong><span
                    style="font-family: 楷体;">新媒体视野下的保护教育</span></strong></span></div><strong><span
                style="font-size: 15px;">①&nbsp;</span></strong><span
                style="font-size: 15px;"><strong>缤纷自然在中国自然纪录片领域的探索</strong>&nbsp; &nbsp;&nbsp;<br />&nbsp;
                        &nbsp; 徐健
                        &nbsp;缤纷自然（北京）文化传媒有限公司<br /><strong>②&nbsp;</strong><strong>新媒体技术在青海湖环境保护与科普教育中的应用</strong><br />&nbsp;
                        &nbsp; 王闰强 &nbsp;中科院计算机网络信息中心<div align="left">③&nbsp;<strong>科学出版视野下生物多样性保护研究的趋势与热点分析</strong>
                        </div>&nbsp; &nbsp; 秦美婷 &nbsp;中国科学技术大学<br /><a data-original-image=""
                                                                       data-original-imageheight="" data-original-imagewidth="" data-original-title=""
                                                                       data-tooltip="off" data-url-flag="0" data-url-flagtarget="" url-flagtarget=""
                                                                       target="_blank"></a>④<strong>&nbsp;</strong><strong>新媒体环境下的植物科普作品设计</strong><br />&nbsp;
                        &nbsp; &nbsp;韩静华 &nbsp;北京林业大学<br />&nbsp;⑤&nbsp;<strong>人工智能时代的科学教育</strong><br />&nbsp; &nbsp;
                        &nbsp;耿宇鹏 &nbsp;云南省科普教育基地联合会</span>
        </td>
    </tr>
    <tr>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
            <div align="left"><a data-original-image="" data-original-imageheight="" data-original-imagewidth=""
                                 data-original-title="" data-tooltip="off" data-url-flag="0" data-url-flagtarget=""
                                 target="_blank" url-flagtarget="">&nbsp;<span style="color: rgb(0, 0, 0);"><strong><span
                    style="font-size: 15px;">分会场专题报告</span></strong><span
                    style="font-size: 15px;">（30分钟/人，专题讨论1小时）</span><strong><span
                    style="font-size: 15px;"><br /><span
                    style="font-family: 楷体;">&nbsp;新形势下植物园的社会功能</span></span></strong></span></a>
            </div>
            <div align="left"><span style="font-family: 微软雅黑;"><span
                    style="font-size: 15px;">①&nbsp;<strong>如何开展冷门的科普教育—从仙湖植物园苔藓科普谈起</strong></span></span>
            </div>
            <div align="left"><span style="font-family: 微软雅黑;"><span style="font-size: 15px;">&nbsp; &nbsp; 张力
                                &nbsp;深圳市中科院仙湖植物园</span></span></div>
            <div align="left"><span style="font-family: 微软雅黑;"><span
                    style="font-size: 15px;">②&nbsp;<strong>生物多样性保护教育在高中教育教学中实践与探索</strong></span></span>
            </div>
            <div align="left"><span style="font-family: 微软雅黑;"><span style="font-size: 15px;">&nbsp; &nbsp; 殷春蕾
                                &nbsp;上海市杨浦高级中学</span></span></div>
            <div align="left"><span style="font-family: 微软雅黑;"><span
                    style="font-size: 15px;">③&nbsp;<strong>打造新型科普传播平台——以中国科学院科学快车为例</strong></span></span>
            </div>
            <div align="left"><span style="font-family: 微软雅黑;"><span style="font-size: 15px;"><strong>&nbsp;
                                    &nbsp;&nbsp;</strong>胡吉 &nbsp;中科院行政管理局</span></span></div>
            <div align="left"><span style="font-family: 微软雅黑;"><span
                    style="font-size: 15px;">④&nbsp;<strong>让文化像植物一样生长—以教学植物园中小学生传统植物文化实践课程为例</strong></span></span>
            </div>
            <div align="left"><span style="font-family: 微软雅黑;"><span style="font-size: 15px;">&nbsp; &nbsp; 于志水
                                &nbsp;北京教学植物园</span></span></div>
            <div align="left"><span style="font-size: 15px; font-family: 微软雅黑;">⑤
                            <strong>中国本土植物保护的一些思考</strong><br />&nbsp; &nbsp; &nbsp;朱仁斌 &nbsp;中科院西双版纳热带植物园</span></div>
        </td>
    </tr>
    <tr>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div><span style="font-size:15px;">13:00-<span style="word-spacing: normal;">14:00</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
                    <span style="font-size: 15px;">板报交流、文创产品展示 <a data-original-image="" data-original-imageheight=""
                                                                  data-original-imagewidth="" data-original-title="" data-tooltip="off" data-url-flag="0"
                                                                  data-url-flagtarget="" target="_blank" url-flagtarget=""></a></span><br /></td>
    </tr>
    <tr>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div><span style="font-size:15px;">14:00-<span style="word-spacing: normal;">16:00</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div align="left"><strong><span style="font-size: 15px; font-family: 楷体;">大会报告Ⅳ</span></strong>
            </div>
            <div align="left"><span style="font-size: 15px;">&nbsp; &nbsp;
                            <strong>小学科学教育中渗透</strong><strong>HPS</strong><strong>教育的探索</strong></span></div><span
                style="font-size: 15px;">&nbsp; &nbsp; 周荣庭 &nbsp;中国科学技术大学</span><br /><span
                style="font-size: 15px;"><br />
                        <div align="left"><strong><span style="font-family: 楷体;">大会报告Ⅴ</span></strong></div>
                        <div align="left">&nbsp; &nbsp; <strong>版纳植物园生物多样性保护的前世今生</strong></div>&nbsp; &nbsp; Richard
                        Corlett &nbsp;中科院西双版纳热带植物园
                    </span>
        </td>
    </tr>
    <tr>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
                    <span style="font-size: 15px;">&nbsp;16:00-16:30
                    </span><br /></td>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
                    <span style="font-size: 15px;">&nbsp;茶歇
                    </span><br /></td>
    </tr>
    <tr>
        <td style="background-color: rgb(242, 242, 242); border-color: rgb(255, 255, 255); border-width: 4px;">
            &nbsp;<span style="font-size: 15px;">16:30-17:30
                    </span><br /></td>
        <td style="border-color: rgb(255, 255, 255); border-width: 4px; background-color: rgb(242, 242, 242);">
            <strong><span style="font-size: 15px;">案例分享（6分钟/人）</span></strong><span
                style="font-size: 15px;"><br /><strong>1.树荫下的气候变迁</strong>&nbsp; &nbsp;<br />&nbsp; &nbsp;林君兰
                        &nbsp;荒野保护协会<br /><strong>2.从生物多样性教育到实验空间</strong>&nbsp; &nbsp;<br />&nbsp; &nbsp;蒋建平
                        &nbsp;江苏常州湖畔文化传媒有限公司<br /><strong>3.</strong><strong>研学旅行与生物多样性保护教育</strong>&nbsp;
                        &nbsp;<br />&nbsp; &nbsp;葛璟璐 &nbsp;江苏省科学传播中心<br /><strong>4.中国鼷鹿保护及展望</strong>&nbsp;
                        &nbsp;<br />&nbsp; &nbsp;罗爱东 &nbsp;西双版纳国家级自然保护区<br /><strong>5.自然笔记的起源、发展与规范</strong>&nbsp;
                        &nbsp;<br />&nbsp; &nbsp;何瑞
                        &nbsp;武汉市乐跋教育科技有限公司<br /><strong>6.神农架大熊猫食源竹类资源遥感调查与估算</strong>&nbsp; &nbsp;<br />&nbsp;
                        &nbsp;李中元 &nbsp;湖北大学<br /><strong>7.桂林漓江流域植物多样性与岩溶地质寒假野外科学考察活动</strong>&nbsp; &nbsp;<br />&nbsp;
                        &nbsp;廖庭 &nbsp;桂林植物园<br /><strong>8.云南青少年生物多样性保护意识教育活动案例分享</strong>&nbsp; &nbsp;<br />&nbsp;
                        &nbsp;陈远书 &nbsp;西南林业大学云南生物多样性研究院</span><br /><span
                style="font-size: 15px;"><strong>9.课程（科学家）执行（研学导师）目的地（景区）
                            一体化解决方案案例分享
                        </strong><br />&nbsp; &nbsp;莫贤 云南土人游旅行社有限责任公司
                        <br /><strong>10.“一带一路”倡议下基于葱属植物多样性的科普专题展策划与实践
                        </strong><br />&nbsp; &nbsp;冯石 中科院昆明植物研究所昆明植物园
                    </span><br /></td>
    </tr>
    <tr>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <div><span style="font-size:15px;">17:30-<span style="word-spacing: normal;">17:50</span></span>
            </div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <span style="font-size:15px;">闭幕式</span></td>
    </tr>
    <tr>
        <td colspan="1"
            style="border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255); background-color: rgb(217, 217, 217); padding: 5px 10px 5px 0px; text-align: center;">
            <div><span style="font-size:15px;">星期四</span></div>

            <div><span style="font-size:15px;">7月25日</span></div>
        </td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <span style="font-size:15px;">全天</span></td>
        <td
                style="border-width: 4px; border-top-style: solid; border-color: rgb(255, 255, 255); border-right-style: solid; border-bottom-style: solid; background-color: rgb(242, 242, 242); padding: 5px 0px 5px 10px;">
            <span style="font-size:15px;">代表返程</span></td>
    </tr>
    </tbody>

</table>
<div class="back-index">
    <a href="http://localhost/%E5%85%AB%E6%9C%88/mvcone/index.php/index">
        返回首页
    </a>
</div>

<!-- 标题结束 -->

{include file=$footer}
</body>

</html>